<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="training-materials.component.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <title>Training Materials</title>
  </head>
  <body>
    <div class="training-materials">
      <app-sidebar></app-sidebar>

      <div class="content">
        <h1>Training Materials</h1>

        <div class="table-container">
          <h2>Step 1: Upload</h2>

          <div class="tab-nav">
            <button
              class="tablink"
              (click)="openTab('FileUpload')"
              [class.active]="activeTab === 'FileUpload'"
            >
              File Upload
            </button>
            <button
              class="tablink"
              (click)="openTab('WebsiteURL')"
              [class.active]="activeTab === 'WebsiteURL'"
            >
             URL
            </button>
            <button
              class="tablink"
              (click)="openTab('SiteMap')"
              [class.active]="activeTab === 'SiteMap'"
            >
              Site Map
            </button>
            <button
              class="tablink"
              (click)="openTab('Text')"
              [class.active]="activeTab === 'Text'"
            >
              Text
            </button>

            
        </div>

          <hr class="tab-divider" />

          <div
            [ngClass]="{ tabcontent: true, active: activeTab === 'FileUpload' }"
          >

            <div
              class="file-upload-area"
              (drop)="onFileDrop($event)"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
              (click)="fileInput.click()"
            >
              <p>Click or drag file to this area to upload</p>
              <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                hidden
              />
            </div>
          </div>

          <div [ngClass]="{ tabcontent: true, active: activeTab === 'WebsiteURL' }">
            <div class="url-container">
              <div *ngFor="let url of urls; let i = index" class="input-group">
                <input [(ngModel)]="urls[i]" placeholder="Enter URL here..." />
                <button (click)="addInputField()"><i class="fa-solid fa-plus"></i></button>
                <button *ngIf="urls.length > 1" (click)="removeInputField(i)"><i class="fa-solid fa-minus"></i></button>
              </div>
              <button class="fetch-button" (click)="addTrainingMaterial()">Fetch URL</button>
            </div>
          </div>

          <div
            [ngClass]="{ tabcontent: true, active: activeTab === 'SiteMap' }"
          >
            <div class="site-map-container">
              <input
                type="text"
                [(ngModel)]="siteMap"
                placeholder="Enter or paste the site map here"
              />
              <button (click)="addSiteFile()">Add Site File</button>
            </div>
          </div>

          <div [ngClass]="{ tabcontent: true, active: activeTab === 'Text' }">
            <div class="text-container">
              <input type="text" [(ngModel)]="textTitle" placeholder="Title for your text" class="text-title-input"/>
              <textarea [(ngModel)]="textBody" placeholder="Main body text" class="text-body-input"></textarea>
              <button (click)="trainOnText()" class="train-button">
                Train on Text
              </button>
            </div>
          </div>

        </div>
        <!-- Closing div for table-container -->


        
        <div class="border-container">
          <h2>Step 2: Train</h2>
          <!-- Button container -->
          <div class="button-container">
            <div class="select-buttons">
              <button class="select-button" (click)="selectAllUntrained()">
                Select All Untrained
              </button>
              <button class="select-button" (click)="selectAll()">
                Select All
              </button>
            </div>
            <button class="train-button" (click)="trainSelected()">Train</button>

          </div>

          <!-- Search bar -->
          <div class="search-container">
            <input
              type="text"
              [(ngModel)]="searchQuery"
              (input)="filterTrainingMaterials()"
              placeholder="Search Training Materials..."
            />
          </div>

          <!-- Add your table here -->
          <div class="training-table-container">
            <table class="training-table">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Training Materials</th>
                  <th>Type</th>
                  <th>Characters</th>
                  <th>Status</th>
                  <th>Last Trained</th>
                  <th>Re-train</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let material of trainingMaterials">
                  <td><input type="checkbox" /></td>
                  <td>{{ material.url }}</td>
                  <td>{{ material.type }}</td>
                  <td>{{ material.characters }}</td>
                  <td>{{ material.status }}</td>
                  <td>{{ material.lastTrained }}</td>
                  <td>
                    <button (click)="retrainMaterial(material)">
                      <i class="fa-solid fa-retweet"></i>
                    </button>
                  </td>
                  <td>
                    <button (click)="deletematerial(material)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
        <!-- Closing div for border-container -->
      </div>
      <!-- Closing div for content -->
    </div>
    <!-- Closing div for training-materials -->
  </body>
</html>
