* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
  }
  
  /* Container for Sidebar and Content */
  .training-materials {
    display: flex;
    height: 100vh; /* Full height */
    width: 98vw; /* Full width */
  }
  
  /* Sidebar Styles */
  app-sidebar {
    width: 20vw; 
    height: 100vh; 
    background-color: #fff;
    overflow-y: auto;
  }
  
  /* Content Styles */
  .content {
    flex: 1; /* Takes up the remaining space */
    padding: 20px;
    background-color: #f1f1f1; /* Background color of the content area */
    overflow-y: auto; /* Enables vertical scrolling if needed */
  }

  /* Tab navigation styles */
.tab-nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
}

.tablink {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 60px;
    transition: 0.3s;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 70px;
    position: relative;
    margin-right: 50px;
}

.tablink:hover {
    background-color: #fea25f;
}

.tablink.active {
    background-color: #ccc;
    font-weight: bold;
}

/* Tab content */
.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  background-color: #fff;
  width: 100%; /* Make the tab content full width */
  max-width: 800px; /* Optional: Set a max-width to limit the size */
  margin: 0 auto; /* Center the tab content horizontally */
  text-align: left; /* Center the content text */
}

.tabcontent.active {
  display: block;
  margin-left: 10px;
}

.file-upload-area {
  border: 2px dashed #fcc521;
  padding: 80px;
  text-align: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 179%;
}

.file-upload-area.dragover {
  background-color: #e6f7ff;
}

/* border container */
.table-container {
  border: 2px solid #ddd; /* Border around the table container */
  padding: 20px; /* Padding inside the container */
  margin-top: 20px; /* Space above the container */
  background-color: #fff; /* Background color for the container */
  border-radius: 8px; /* Optional: Rounded corners for the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow for the container */
}

/* Style for URL container */
.url-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.url-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.url-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.url-container button:hover {
  background-color: #0056b3;
}