<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sidebar.component.css" />
    <title>SideBar</title>
  </head>
  <body>
    <div class="side-menu">
      <div class="brand-logo">
        <img
          src="https://media.licdn.com/dms/image/C5103AQFPTrbhRJGpsg/profile-displayphoto-shrink_200_200/0/1580451880046?e=2147483647&v=beta&t=Ix1MGDmklIaVf4xvWKAG2_qWkM5wviFR5tdfJFZJbko"
          alt="Crecientech Logo"
        />
      </div>

      <!-- Dropdown Menu -->
      <div class="dropdown">
        <button class="dropdown-btn">Crecientech &#9660;</button>
        <div class="dropdown-content">
          <a href="#">Crecientech</a>
          <hr />
          <!-- Separator line -->
          <a href="#" class="create-new">Create New Agent</a>
        </div>
      </div>

      <ul>
        <li>
          <a href="/dashboard"><i class="fa-solid fa-house"></i> DashBoard</a>
        </li>
        <li>
          <a href="/appearance"><i class="fa-solid fa-eye"></i> Appearance</a>
        </li>
        <li>
          <a href="/manage-team"
            ><i class="fa-solid fa-users"></i> Manage Team</a
          >
        </li>
        <li>
          <a href="/ai-agent"
            ><i class="fa-solid fa-message"></i> Try My AI Agent</a
          >
        </li>
      </ul>
      <div>
        <router-outlet></router-outlet>
      </div>
      <div class="/try-my-agent">
        <h4>AI Agent</h4>
      </div>
      <ul>
        <li>
          <a href="/training-materials"
            ><i class="fa-solid fa-square-poll-vertical"></i> Training
            Materials</a
          >
        </li>
        <li>
          <a href="/businessgoals"
            ><i class="fa-solid fa-circle-info"></i> Business Goals</a
          >
        </li>
        <li>
          <a href="/qualify-leads"
            ><i class="fa-solid fa-dollar-sign"></i> Qualify Leads</a
          >
        </li>
        <li>
          <a href="/question-answer"
            ><i class="fa-solid fa-circle-question"></i> Question & Answer</a
          >
        </li>
      </ul>
      <div class="general">
        <h4>GENERAL</h4>
      </div>
      <ul>
        <li>
          <a href="/upgrade"><i class="fa-solid fa-bolt"></i> Upgrade</a>
        </li>
        <li>
          <a href="/captured-contacts"
            ><i class="fa-solid fa-user-group"></i> Captured Contacts</a
          >
        </li>
        <li>
          <a href="/conversations"
            ><i class="fa-solid fa-comments"></i> Conversations</a
          >
        </li>
        <li>
          <a href="/advanced"><i class="fa-solid fa-gear"></i> Advanced</a>
        </li>
        <li>
          <a href="/integrations"
            ><i class="fa-solid fa-plug"></i> Integrations</a
          >
        </li>
        <li>
          <a href="/help"
            ><i class="fa-solid fa-handshake-angle"></i> Help Center</a
          >
        </li>
        <li>
          <a href="/languages"
            ><i class="fa-solid fa-book-open"></i> Languages</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
